{% extends "base.html" %}
{% block title %} Disciplines list {% endblock %}

{% block body %}
    <div>
        <a href="/">back to main</a>
    </div>

    <br>
    <br>

    <div>
        <a href="/create_discipline/?id={{id}}">Create new disc</a>
        <br>
        <h1>Disciplines list for category "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/discipline_copy/?name={{item.name}}">Copy</a></span>
        </li>
        {% endfor %}
    </div>
{% endblock %}