{% extends "base.html" %}
{% block title %} Школа программирования {% endblock %}

{% block body %}
   <div style="flex: 1 1 auto">
       <h1>You are welcome!</h1>
        <form action="" method="post">
            <fieldset>
                <legend>Зарегистрируйтесь</legend>
                <p><label class="title" for="name">Ваше имя:</label>
                    <input type="text" name="name" id="name"><br />
                    <label class="title" for="email">Ваш email:</label>
                    <input type="text" name="email" id="email">
                </p>
                <p><label for="location" class="title">Ближайший центр:</label>
 				    <select name="location" id="location">
						 <option value="ny">City_1</option>
						 <option value="il">City_2</option>
						 <option value="ca">City_3</option>
						 <option value="il">City_4</option>
						 <option value="ca">City_5</option>

                    </select>
                </p>
                <p>
                    <span class="title">Являетесь участником?</span>
                    <label><input type="radio" name="member" value="yes" /> Да</label>
                    <label><input type="radio" name="member" value="no" /> Нет</label>
                </p>
            </fieldset>
            <div class="submit"><input type="submit" value="Регистрация" /></div>
        </form>
    </div>
{% endblock %}